GOOGLE_ID=SOME_ID
GOOGLE_SECRET=SOME_SECRET
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=SOME_SECRET
GMAIL_PASS=SOME_PASS
GMAIL_EMAIL=SOME_MAILBOX
DATABASE_URL="postgresql://someuser:somepass@localhost:5432/somedbname?schema=public"